@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Libre+Baskerville&family=Montserrat:wght@700&display=swap');


/* Custom Properties */
:root {
    --link-color: rgb(42, 86, 124);
    --headline-color: rgb(116, 164, 205);
    --title-font: 'Montserrat', sans-serif;
    --subtext-font: 'Libre Baskerville', serif;
    --footer-color: rgb(22, 22, 22);
}

/*mobile*/

html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    background-color: rgb(24, 26, 27);
    color: white;
    font-family: var(--title-font);
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-position: inside;
    overflow-x: hidden
}

/*hero*/

.hero-bg {
    height: 50vh;
    width: 100%;
    position: relative;
    padding-bottom: 4em;
    margin-bottom: 2em;
    z-index: 1;
}

.hero-bg::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-image: url('../images/Employment-opportunities-hero-waves.jpg');
    background-position: 5% 40%;
    background-size: cover;
    filter:brightness(0.65);
    z-index: -1;
}

header {
    align-items: baseline;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.top {
    margin: 0;
    padding: 0;
}

#logo {
    cursor: pointer;
    color: white;
    padding-left: 0.25em;
    margin-top: 0.25em;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    z-index: 9999;
}

#hamburger-menu {
    position: absolute;
    top: .75em;
    right: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1em;
    height: 1.3em;
    transition: 0.3s;
    z-index: 9999;
}

#hamburger-menu .bar {
    height: .2em;
    width: 1.5em;
    background-color: white;
    border-radius: 2rem;
}

/*menu expanded*/

#hamburger-menu[aria-expanded = "true"] {
    position: fixed;
}

#hamburger-menu[aria-expanded = "true"] .bar:nth-child(2) {
    opacity: 0;
}

#hamburger-menu[aria-expanded = "true"] .bar:nth-child(1) {
    transform: translateY(.57em) rotate(45deg);
}

#hamburger-menu[aria-expanded = "true"] .bar:nth-child(3) {
    transform: translateY(-.57em) rotate(-45deg);
}

nav {
    transform: translateY(-100%);
    position: fixed;
    flex-direction: column;
    text-align: center;
    gap: 0;
    width: 100%;
    transition: transform 350ms ease-out;
    background: hsl(0 0% 0% / 0.75);    /*default for non-backdrop-filter supporting browsers*/
    z-index: 1000;
}

@supports (backdrop-filter: blur(0.9rem)) {
    nav {
        background: hsl(0 0% 100%/ 0.1);
        backdrop-filter: blur(0.9rem);
    }
}

nav[data-visible = "true"] {
    transform: translateY(0);
}

nav ul {
    margin-top: 3em;
    margin-left: -2em;
}

nav ul li {
    list-style: none;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 1em;
    display: block;
    font-size: 1rem;
    transition: all 0.3s;
}

nav ul li a:hover {
    color: rgb(187, 181, 181);
}

nav ul ul {
    display: none;
}

nav.active {
    left: 0;
}

.hero-bg h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 4em 0.2em 1em;
}

/* body */

.main-flex {
    margin: 0 .8em 3em;
}

.main-flex h3 {
    margin: 0 0 1em;
    color: var(--headline-color);
    font-size: 1.5rem;
}

.main-flex .sub-menu {
    margin: 0.75em 0 3.5em;
    padding: 0;
    text-align: right;
}

.main-flex .sub-menu li {
    list-style: none;
    margin: 0 0 1em;
}

.main-flex .sub-menu li a {
    text-decoration: none;
    color: rgb(147, 169, 184);
    padding: 1em;
    transition: all 0.3s;
    font-size: 1rem;
}

.main-flex ul li a:hover {
    color: rgb(110, 126, 136);
}

.team {
    margin: 3em 0;
}

.summer-op {
    margin: 5em 0 3em;
}

.right-col {
    text-align: left;
}

.right-col h3 {
    margin: 1em 0.8em;
}

.right-col p {
    font-family: var(--subtext-font);
    font-size: .9rem;
    margin: 1em;
    text-align: left;
    line-height: 2em;
}

#submission {
    margin: 0 1em;
}

/* footer */

footer {
    background-color: var(--footer-color);
    color: white;
    height: auto;
    width: 100vw;
    padding-top: 1em;
    margin-top: auto;
    text-align: center;
}

#socials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: .8em 4em 0 1.6em;
}

footer ul li {
    align-items: center;
    margin: 0 1em;
}

footer ul li a {
    text-decoration: none;
    color: white;
    transition: color .4s ease;
}

footer ul li a:hover i {
    color: rgb(177, 174, 174);
}

#contact {
    background-color: black;
    color: white;
    width: 100%;
    padding: .4em;
}

#contact a {
    text-decoration: none;
    color: rgb(193, 222, 223);
}

#contact a:hover {
    color: rgb(156, 152, 152);
}

@media (min-width: 574px) {
    #logo {
        font-size: 1.8rem;
    }

    #hamburger-menu {
        top: 1em;
        width: 2em;
        height: 1.5em;
    }
    
    #hamburger-menu .bar {
        height: .1em;
        width: 2em;
        border-radius: 2em;
    }

    #hamburger-menu[aria-expanded = "true"] .bar:nth-child(1) {
        transform: translateY(.67em) rotate(45deg);
    }
    
    #hamburger-menu[aria-expanded = "true"] .bar:nth-child(3) {
        transform: translateY(-.67em) rotate(-45deg);
    }
    
    .hero-bg h1 {
        font-size: 4rem;
        margin: 3.5em 0.2em 0.8em;
    }
}

@media (min-width: 1109px) {     /*desktop*/
    header {
        justify-content: space-between;
    }

    nav {
        transform: translateY(0);
        display: flex;
        position: relative;
        width: auto;
        background: none;
        backdrop-filter: blur(0);
    }

    #hamburger-menu {
        display: none;
    }

    nav ul {
        display: flex;
        list-style: none;
        margin-top: 0.5em;
    }
    
    nav ul li {
        margin: 0;
        position:  relative;
    }
    
    #about-dropdown {
        display: none;
    }
    
    #about:hover + #about-dropdown, #about-dropdown:hover {
        display: block;
        position: absolute;
        text-align: left;
        top: 3rem;
        margin-left: 2.5em;
    }

    #involved-dropdown {
        display: none;
    }
    
    #involved:hover + #involved-dropdown, #involved-dropdown:hover {
        display: block;
        position: absolute;
        text-align: left;
        top: 3rem;
        margin-left: 8em;
    }

    #programs-dropdown {
        display: none;
    }
    
    #programs:hover + #programs-dropdown, #programs-dropdown:hover {
        display: block;
        position: absolute;
        text-align: left;
        top: 3rem;
        margin-left: 16em;
    }

    .hero-bg h1 {
        font-size: 5rem;
        margin-top: 2em;
    }

    .hero-bg h3 {
        font-size: 2rem;
    }

    #logo {
        font-size: 1.6rem;
    }

    .main-flex {
        margin-right: 3em;
        display: grid;
        grid-template-columns: repeat(2, 30% 70%);
        grid-template-areas: 
            "nav info";
    }
    
    .main-flex .right-col {
        grid-area: info;
        margin: 3em 1em 1em 1em;
    }
    
    .main-flex .left-col {
        grid-area: nav;
        margin: 1em;
    }

    .history {
        margin-top: 3em;
    }

    .key-messages h3 {
        margin-top: 6em;
    }

    #author {
        text-align: center;
    }

    .achievements h3 {
        margin-top: 6em;
    }

    .flex {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: 
            "right left";
    }

    .flex .right-col {
        grid-area: right;
        margin: 1em;
    }

    .flex .left-col {
        grid-area: left;
        margin: 1em;
    }
}